[submodule "IsaacGymEnvs"]
	path = IsaacGymEnvs
	url = https://github.com/NVIDIA-Omniverse/IsaacGymEnvs.git
[submodule "snapbot/snapbot_gym"]
	path = snapbot/snapbot_gym
	url = https://github.com/Plan-Real/snapbot_gym.git
[submodule "snapbot/snapbot_yolo"]
	path = snapbot/snapbot_yolo
	url = https://github.com/Plan-Real/snapbot_yolo.git
